* {
  /* border: 1px solid red; */
  font-family: Questrial;
  letter-spacing: .5;
}
.topcontent {
  top: 0;
  height: 60px;
  width: 1500px;
  background: -webkit-linear-gradient(rgba(80, 80, 80, 1), rgba(25, 25, 20, 1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(80, 80, 80, 1), rgba(20, 20, 20, 1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(80, 80, 80, 1), rgba(20, 20, 20, 1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(80, 80, 80, 1), rgba(20, 20, 20, 1)); /* Standard syntax */
  display: block;
}
.head {
  float: left;
  color: white;
  font-size: 14px;
  font-family: Questrial;
}
.icon {
  margin-left: 280px;
  margin-top: 15px;
  border-radius: 5px;
  height: 30px;
  width: 54px;
  background-image: url("haticon.png");
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
}
.mobber {
  float: left;
  position: relative;
  font-size: 16px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: Trocchi;
  letter-spacing: 1px;
  text-shadow: 0 2px 0 rgba(15, 15, 15, 1);
}
.findamob {
  margin-left: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.startamob {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 41px;
}
.facecircle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 337px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-image: url(http://www.thetimes.co.uk/tto/multimedia/archive/00349/115391127_Connery_349376c.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -10px;
  float: left;
}
.username {
  font-size: 12px;
  margin-left: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-color: white;
}
.dropicon {
  margin-left: 10px;
  margin-top: 22px;
  height: 12px;
  width: 12px;
  background-color: rgba(0, 0, 0, 0);
  opacity: .5;
  float: left;
}
.fa-caret-down {
  color: rgba(156, 156, 156, 1);
  font-size: 21px;
  text-shadow: 0 1px rgba(1, 1, 1, 1);
}
.banner {
  height: 57px;
  width: 1500px;
  text-align: center;
  font-family: Questrial;
  border-bottom: 2px solid rgba(217, 217, 217, 1);
}
.bannerwords {
  font-size: 30px;
  margin-top: 29px;
  color: rgba(65, 65, 65, 1);
}
.maincontent {
  height: 576px;
  border-bottom: 2px solid rgba(217, 217, 217, 1);
  width: 1500px;
  background-color: #F2F0EC;
  display: block;
  font-family: Questrial;
}
.worldtour {
  background-image: url("u2worldtour.jpg");
  background-position: -150px -130px;
  background-repeat: no-repeat;
  height: 490px;
  width: 620px;
  margin-top: 30px;
  margin-left: 279px;
  float: left;
}
.tourheader {
  top: 0;
  background-color: rgba(0, 0, 0, .4);
  display: block;
  height: 56px;
  width: 620px;
}
.tourtext {
  margin-left: 16px;
  float: left;
  text-align: left;
  color: white;
  font-size: 20px;
  opacity: 1;
  word-spacing: 3px;
}
.clockicon {
  float: left;
  height: 19px;
  width: 19px;
  margin-top: 18px;
  margin-left: 230px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  opacity: 1;
}
.fa-clock-o {
  color: rgba(255, 217, 74, 1);
  font-size: 24px;
  margin-left: 1px;
}
.tourtext2 {
  float: left;
  color: white;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 23px;
  opacity: 1;
  word-spacing: 3px;
  letter-spacing: 1px;
}
.tourfooter {
  height: 83px;
  background-color: rgba(208, 205, 200, 1);
  margin-top: 345px;
  word-spacing: 4px;
}
.message {
  width: 140px;
  height: 33px;
  margin-left: -6px;
  margin-top: -17px;
  margin-bottom: 10px;
  background-color: rgba(248, 205, 70, 1);
  box-shadow: 0 1px 1px rgba(209, 148, 0, 1);
  position: absolute;
}
.mobmessage {
  color: white;
  text-shadow: 0 2px 1px rgba(219, 166, 56, 1);
  font-size: 14px;
  position: absolute;
  margin: 12px 17px 14px 18px;
}
.fa-caret-right {
  color: rgba(248, 205, 70, 1);
  font-size: 15px;
  transform: rotate(-45deg);
  margin-top: 27px;
  margin-left: 2px;
}
.footertext {
  color: rgba(87, 87, 85, 1);
  font-size: 17px;
  margin-left: 23px;
  margin-bottom: 18px;
  margin-top: 24px;
  width: 550px;
  position: absolute;
}
.number {
  height: 153px;
  width: 140px;
  background-color: rgba(208, 205, 200, 1);
  float: left;
  margin-top: 30px;
  margin-bottom: 10px;
  text-shadow: 0px 1px 1px rgba(161, 158, 154, 1);
}
.seven {
  margin-left: 20px;
  text-align: center;
}
.fifty {
  margin-left: 20px;
  text-align: center;
  margin-right: 250px;
}
.bignumber {
  font-size: 70px;
  margin-top: 26px;
  margin-left: 12px;
  margin-bottom: 27px;
  margin-right: 12px;
  margin-bottom: 26px;
  color: white;
}
.numberfoot {
  width: 139px;
  height: 33px;
  vertical-align: middle;
  background-color: rgba(181, 174, 164, 1);
  text-shadow: 0px 1px 1px rgba(217, 214, 209, 1);
}
.dos {
  margin-right: 50px;
}
.footline {
  font-size: 15px;
  color: RGBA(65, 65, 65, 1);
  padding-top: 10px;
}
.join {
  float: left;
  height: 52px;
  width: 300px;
  background: -webkit-linear-gradient(rgba(251, 210, 72, 1), rgba(234, 165, 56, 1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(251, 210, 72, 1), rgba(234, 165, 56, 1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(251, 210, 72, 1), rgba(234, 165, 56, 1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(251, 210, 72, 1), rgba(234, 165, 56, 1)); /* Standard syntax */
  border-radius: 5px;
  border-top: 1px solid rgba(255, 247, 197, 1);
  margin-top: 25px;
  margin-left: 20px;
  padding-bottom: 15px;
  box-shadow: 0 0 0 2px rgba(221, 152, 10, 1);
}
.jointhismob {
  color: white;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 21px;
  text-shadow: 0px 2px 2px rgba(191, 131, 57, 1);
}
.reward {
  float: left;
  display: block;
  height: 70px;
  width: 287px;
  margin-top: 2px;
  border-bottom: 2px solid rgba(178, 178, 178, 1);
  border-right: 2px solid rgba(178, 178, 178, 1);
  border-left: 2px solid rgba(178, 178, 178, 1);
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-left: 25px;
  margin-right: 270px;
  background-color: white;
}
.medalicon {
  float: left;
  height: 51px;
  width: 37px;
  margin-left: 10px;
  margin-bottom: 14px;
  margin-top: 11px;
  margin-right: 5px;
  background-image: url("medalreward.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.yourreward {
  float: left;
  font-size: 15px;
  margin-top: 17px;
  font-weight: bold;
}
.ticket {
  float: left;
  font-size: 11px;
  margin-top: -5px;
  margin-right: 60px;
}
.spread {
  float: left;
  width: 300px;
  height: 46px;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 270px;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(132, 132, 131, 1);
}
.theword {
  text-align: center;
  font-size: 11px;
  margin-left: 18px;
  margin-bottom: 20px;
  color: rgba(132, 132, 131, 1);
}
.social {
  float: left;
  display: block;
  margin-left: 22px;
  margin-top: 18px;
  width: 340px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
}
.bu {
  margin-top: 1px;
  float: left;
}
.tweet {
  display: inline-block;
  width: 55px;
  height: 25px;
  background: #f8f8f8 url(http://platform.twitter.com/images/bird.png) 5px 5px no-repeat;
  background-size: 20px 17px, auto, auto;
  border-radius: 3px;
  border: #ccc solid 1px;
}
.share {
  border: #ccc solid 1px;
  margin-left: 5px;
  width: 57px;
  height: 25px;
  background-color: rgba(68, 97, 157, 1);
  border-radius: 3px;
}
.fa-facebook-official {
  color: white;
  font-size: 20px;
  margin-left: 5px;
  margin-top: 3px;
}
.mail {
  border: #ccc solid 1px;
  margin-left: 5px;
  width: 38px;
  height: 25px;
  background-color: rgba(243, 243, 243, 1);
  border-radius: 3px;
}
.fa-google-plus {
  color: rgba(218, 86, 66, 1);
  font-size: 20px;
  margin-top: 3px;
  margin-left: 5px;
}
.linkicon {
  margin-left: 7px;
  margin-top: 5px;
  float: left;
  height: 14px;
  width: 14px;
}
.fa-link {
  font-size: 14px;
  color: rgba(79, 79, 78, 1);
}
.link {
  width: 124px;
  height: 25px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 5px;
  font-size: 12px;
  color: rgba(16, 130, 172, 1);
}
.thirdcontent {
  height: 610px;
  width: 1500px;
}
.postbox {
  display: block;
  width: 947px;
  height: 282px;
  margin-left: 278px;
  margin-top: 38px;
  border-bottom: 1px solid grey;
  margin-right: 281px;
}
.post {
  float: left;
  height: 250px;
  width: 300px;
  background-size: 300px 194px;
  background-repeat: no-repeat;
  display: block;
  font-family: Roboto;
}
.food {
  margin-left: 22px;
}
.group {
  margin-left: 19px;
}
.watch {
  background-image: url("watchad.jpg");
}
.food {
  background-image: url("nikeburger.jpg");
}
.group {
  background-image: url("imdbjs.png");
}
.title {
  word-spacing: 3px;
  font-weight: 700;
  width: 160px;
  margin-top: 203px;
  font-size: 13px;
  color: rgba(65, 65, 65, 1);
  float: left;
}
.funny {
  width: 192px;
}
.status {
  width: 192px;
  margin-top: 6px;
  font-size: 10px;
  color: rgba(120, 120, 120, 1);
  float: left;
}
.clockicon2 {
  float: right;
  height: 19px;
  width: 19px;
  margin-left: 43px;
  margin-top: 200px;
  border-radius: 50%;
  margin-right: 3px;
  background-color: rgba(0, 0, 0, 0);
  opacity: 1;
}
.fa-clock-o {
  color: rgba(255, 217, 74, 1);
  font-size: 24px;
  margin-left: 1px;
}
.seconds {
  float: right;
  margin-left: 4px;
  margin-top: 206px;
  font-size: 10px;
  color: rgba(65, 65, 65, 1);
}
.tablestart {
  float: left;
  display: block;
  height: 213px;
  width: 982px;
  margin-top: 50px;
  margin-right: 281px;
}
.headers {
  float: left;
  width: 620px;
  height: 60px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 35px;
  margin-top: 0;
  color: rgba(65, 65, 65, 1);
}
.chart {
  float: left;
  width: 622px;
  height: 150px;
  font-size: 12px;
  padding-bottom: 5px;
  font-family: Roboto;
  border-collapse: collapse;
  border-spacing: 10px;
  word-spacing: 2px;
}
.row {
  color: rgba(65, 65, 65, 1);
  vertical-align: bottom;
}
.col {
  width: 192px;
  padding-bottom: 15px;
  padding-top: 10px;
  font-weight: 700;
  border-bottom: 1px solid rgba(218, 218, 218, 1);
}
.mobneed {
  color: rgba(65, 65, 65, .8);
  margin-left: 52px;
  width: 138px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(218, 218, 218, 1);
}
.year {
  color: rgba(65, 65, 65, .6);
  text-align: right;
  margin-left: 82px;
  width: 152px;
  padding-bottom: 15px;
  font-weight: 300;
  border-bottom: 1px solid rgba(218, 218, 218, 1);
}
.last {
  border-bottom: 1px solid white;
}
.start {
  float: left;
  display: block;
  margin-left: 25px;
  margin-top: -57px;
  height: 210px;
  width: 299px;
  background-color: rgba(208, 205, 200, 1);
}
.startyourownmob {
  float: left;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  text-shadow: 0 2px 1px rgba(157, 155, 151, 1);
  margin-left: 27px;
  margin-top: 21px;
  word-spacing: 3px;
}
.buttons {
  float: left;
  margin-left: 29px;
  margin-top: -35px;
}
.round {
  float: left;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  color: rgba(120, 120, 120, 1);
  background: -webkit-linear-gradient(rgba(213, 213, 213, 1), rgba(253, 253, 253, 1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(213, 213, 213, 1), rgba(253, 253, 253, 1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(213, 213, 213, 1), rgba(253, 253, 253, 1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(213, 213, 213, 1), rgba(253, 253, 253, 1)); /* Standard syntax */
  border: 2px solid rgba(239, 239, 239, 1);
  box-shadow: 0 0 0 2px rgba(161, 159, 156, 1);
  font-size: 15px;
  margin-bottom: 6px;
}
.digit {
  padding: 10px;
  margin-top: -3px;
  margin-left: 2px;
  text-shadow: 0 1px rgba(251, 251, 251, 1);
}
.options {
  float: left;
  font-size: 11px;
  width: 62px;
  text-align: center;
  color: rgba(65, 65, 65, 1);
  margin-bottom: 11px;
}
.upload {
  margin-left: 18px;
}
.write {
  margin-left: 47px;
}
.uploadmob {
  margin-left: 39px;
}
.line {
  float: left;
  width: 64px;
  height: 7px;
  background-color: rgba(161, 159, 156, 1);
  margin-top: 15px;
  opacity: .7;
}
.startamobbottom {
  float: left;
  margin-left: 10px;
  margin-bottom: 8px;
  width: 277px;
  height: 59px;
  box-shadow: 0 0 0 1px rgba(126, 123, 120, 1);
  border-top: 2px solid rgba(255, 255, 255, 1);
  border-radius: 7px;
  background: -webkit-linear-gradient(rgba(231, 230, 227, 1), rgba(208, 205, 200, 1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(231, 230, 227, 1), rgba(208, 205, 200, 1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(231, 230, 227, 1), rgba(208, 205, 200, 1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(231, 230, 227, 1), rgba(208, 205, 200, 1)); /* Standard syntax */
}
.startamobtext {
  font-size: 23px;
  margin-right: 76px;
  margin-top: 17px;
  margin-bottom: 21px;
  margin-left: 76px;
  color: rgba(16, 130, 172, 1);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
}
.lastcontent {
  display: block;
  height: 340px;
  width: 1500px;
  background-color: #545252;
}
.listhead {
  float: left;
  font-size: 18px;
  color: white;
  width: 302px;
  text-shadow: 0 1px 0 rgba(21, 21, 21, 1);
  margin-left: 278px;
  margin-top: 29px;
  letter-spacing: 1px;
}
.listbox {
  position: absolute;
  width: 302px;
  height: 256px;
  margin-top: 61px;
  margin-left: 278px;
  margin-bottom: 45px;
  display: block;
}
.categleft {
  float: left;
  width: 138px;
  height: 256px;
}
.categright {
  float: left;
  width: 138px;
  height: 256px;
  margin-left: 21px;
}
.categ {
  height: 36px;
  width: 138px;
  background-color: rgba(84, 84, 83, 1);
  border-top: 1px solid rgba(146, 146, 145, 1);
  box-shadow: 0 0 0 1px rgba(56, 56, 56, 1);
  border-radius: 3px;
  margin-right: 21px;
  margin-bottom: 10px;
  text-align: center;
}
.cattext {
  line-height: 35px;
  font-size: 14px;
  color: white;
  text-shadow: 0 1px 0 rgba(35, 35, 35, 1);
}
.connect {
  float: left;
  height: 258px;
  width: 219px;
  margin-bottom: 45px;
  margin-left: 99px;
  margin-top: 28px;
  text-align: left;
  display: block;
}
.connecttext {
  float: left;
  font-size: 18px;
  word-spacing: 2px;
  color: white;
  text-shadow: 0 1px 0 rgba(21, 21, 21, 1);
}
.para {
  float: left;
  font-size: 12px;
  height: 40px;
  word-spacing: 3px;
  text-shadow: 0 1px 0 rgba(21, 21, 21, 1);
  color: rgba(218, 218, 218, 1);
  margin-top: 18px;
}
.email {
  float: left;
  width: 218px;
  height: 45px;
  box-shadow: inherit 0 2px 1px rgba(176, 176, 176, 1);
  background-color: rgba(253, 253, 253, 1);
  border-radius: 3px;
  margin-top: 15px;
}
.emailtext {
  position: absolute;
  margin-left: 13px;
  margin-bottom: 17px;
  margin-top: 17px;
  color: rgba(120, 120, 120, 1);
}
.checkmark {
  position: absolute;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-left: 174px;
  height: 45px;
  width: 45px;
  background-color: rgba(157, 157, 157, 1);
}
.fa-check {
  color: white;
  margin-left: 7px;
  margin-top: 7px;
  font-size: 30px;
}
.likeface {
  display: block;
  width: 218px;
  height: 30px;
  font-size: 15px;
  margin-top: 162px;
  border-bottom: 1px solid rgba(56, 56, 56, 1);
}
.twitter {
  width: 218px;
  height: 30px;
  display: block;
  font-size: 15px;
  border-bottom: 1px solid rgba(56, 56, 56, 1);
}
.goog {
  display: block;
  width: 218px;
  height: 30px;
  font-size: 15px;
}
.like {
  margin-top: 7px;
  float: left;
  color: white;
}
.twittext {
  margin-top: 7px;
  float: left;
  color: white;
}
.plusone {
  margin-top: 7px;
  float: left;
  color: white;
}
.iconsocial {
  float: left;
  height: 21px;
  width: 21px;
  border-radius: 50%;
  background-color: white;
  margin-right: 11px;
}
.twi {
  margin-top: 4px;
}
.goo {
  margin-top: 4px;
}
.fa-facebook {
  margin-left: 6px;
  margin-top: 5px;
  font-size: 20px;
  color: rgba(84, 82, 82, 1);
}
.fa-twitter {
  margin-left: 3px;
  margin-top: 3px;
  color: rgba(84, 82, 82, 1);
  font-size: 18px;
}
.fa-google {
  color: rgba(84, 82, 82, 1);
  font-size: 23px;
}
.works {
  height: 275px;
  width: 222px;
  float: left;
  margin-left: 100px;
  margin-top: 19px;
}
.howitworks {
  background: -webkit-linear-gradient(rgba(251, 210, 72, 1), rgba(234, 165, 56, 1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(251, 210, 72, 1), rgba(234, 165, 56, 1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(251, 210, 72, 1), rgba(234, 165, 56, 1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(251, 210, 72, 1), rgba(234, 165, 56, 1)); /* Standard syntax */
  border-radius: 5px;
  border-top: 1px solid rgba(255, 247, 197, 1);
  box-shadow: 0 0 0 1px rgba(221, 152, 10, 1);
  width: 222px;
  height: 53px;
  text-align: center;
}
.howtext {
  line-height: 50px;
  color: white;
  letter-spacing: 1px;
  font-size: 17px;
  text-shadow: 0px 2px 2px rgba(191, 131, 57, 1);
}
.aproblem {
  position: absolute;
  margin-top: 25px;
  text-align: left;
  font-size: 17px;
  color: white;
}
.feelfree {
  width: 193px;
  position: absolute;
  margin-top: 58px;
  text-align: left;
  color: rgba(218, 218, 218, 1);
  font-size: 13px;
  word-spacing: 2px;
}
.emailus {
  position: absolute;
  margin-top: 112px;
  height: 36px;
  width: 138px;
  background-color: rgba(84, 84, 83, 1);
  border-top: 1px solid rgba(146, 146, 145, 1);
  box-shadow: 0 0 0 1px rgba(56, 56, 56, 1);
  border-radius: 3px;
  text-align: center;
}
.ustext {
  line-height: 35px;
  font-size: 14px;
  color: white;
  text-shadow: 0 1px 0 rgba(35, 35, 35, 1);
}
.copyright {
  position: absolute;
  margin-top: 180px;
  width: 222px;
  height: 29px;
  padding-top: 11px;
  border-top: 1px solid rgba(56, 56, 56, 1);
  color: rgba(221, 221, 221, 1);
  font-size: 13px;
}
.fa-copyright {
  font-size: 13px;
  color: rgba(221, 221, 221, 1);
}
